In [2]:
import pandas as pd

In [3]:
  df = pd.read_csv('Messi vs Ronaldo Stat.csv', delimiter=';') 
df

                     Factors Messi  Ronaldo
0      All time Career Goals    803     832
1              Goal per Game   0,79    0,72
2                    Assists    354     236
3                      Games   1018    1157
4                 Hat-tricks     57      62
5                  Penalties    108     150
6            Free Kick Goals     62      60
7                     Header     26     141
8                      Shots   2891    3488
9            Shots on Target   1370    1436
10  Accuracy Shots on target   47,4    41,2
11                  Dribbles   3055    1661
12                    Passes   1358     904
13           Chances Created    403     176
14          Man of the Match    312     172
15         Non-penalty Goals    695     682
16  Goals Contribution (G+A)   1157    1068
17      Average match Rating   8,55    7,96